@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* Shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #ff900e;
    padding: 20px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius:7px ;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}

.text-primary{
    color:#ff900e
}
/* dark2 */
.text-gray{
    color: #424242;
    font-size: 18px;
}
/* dark03 */
.text-light-gray, .fact-name{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style  */
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;
}
/* team and feature related style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* some facts related style */
.fact-card{
    border: 0 ;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:rgb(246, 246, 245);
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 100px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* responsive layout */
@media screen and (max-width: 576px) {
    .navbar,.display-flex, .nav-links{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 30px;
    }
    
}

/* mediam size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px;
    }
}